@tailwind base;
@tailwind components;
@tailwind utilities;

.noactive_navlinks a {
  color: blue;
  text-decoration: none;
}

.active_navlinks a {
  color: white;
  text-decoration: none;
}

.left_navlinks a:hover,
.left_navlinks a:active,
.left_navlinks a.active {
  color: blue;
}

:root {
  --color-bg: #2c2c32;
  --color-active: #e2e063;
}
